[Unit]
Description=Podman auto update containers

[Service]
Type=oneshot

ExecStart=/usr/bin/podman auto-update
ExecStartPost=/usr/bin/podman container prune --force
ExecStartPost=/usr/bin/podman image prune --all --force

[Install]
WantedBy=default.target